.env
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
npm-debug.log
npm-debug.log.*
npm-debug.log.{date}
npm-debug.log.{date}.{time}
npm-debug.log.{date}.{time}.{pid}
npm-debug.log.{date}.{time}.{pid}.{uid}
npm-debug.log.{date}.{time}.{pid}.{uid}.{ip}